.footer {
  background: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  margin-right: 70px;
}

.footer-wrapper > .logo {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: #ffffff;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-color);
    outline: none;
  }
}

.wrapper-subscribe {
  margin-left: auto;
}
.subscribe {
  display: flex;
}
.subscribe-input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-submit {
  height: 50px;
  min-width: 200px;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  padding: 10px 29px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;

  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: white;
}
